.img {
  width: 70px;
  height: auto;
  padding-top: 5px;
}

.logo {
  justify-content: center;
}

.web-name {
  font-family: "MyFont";
  color: white !important;
  font-size: 40px;
}

a {
  text-decoration: none !important;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

/* .menu-sidebar {
  flex: 1;
  max-width: calc(100% / 5); /* take up 1/5 of the page */

/* .page-container {
  flex: 5; /* take up the rest of the page */

.page-container {
  display: flex;
  flex-direction: column;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-mdc-button,
.mat-mdc-button.mat-unthemed {
  color: rgb(39, 38, 38);
  font-family: "MyFont";
}

.menu-sidebar-content {
  margin-left: 0px;
}
