<div class="page-wrapper">
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img
          src="assets/images/logo.png"
          alt="healthy-food"
          class="img img-responsive"
        />
      </a>
    </div>
    <div class="menu-sidebar-content">
      <!-- <mat-form-field>
        <mat-label>Meal Types</mat-label>
        <mat-select [formControl]="mealTypes" multiple>
          <mat-select-trigger>
            {{mealTypes.value?.[0] || ''}}
            <span
              *ngIf="(mealTypes.value?.length || 0) > 1"
              class="additional-selection"
            >
              (+{{ (mealTypes.value?.length || 0) - 1 }}
              {{ mealTypes.value?.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let mealType of mealTypeList"
            [value]="mealType"
            >{{ mealType }}</mat-option
          >
        </mat-select>
      </mat-form-field> -->
      <mat-nav-list>
        <mat-list-item>
          <button mat-button [matMenuTriggerFor]="mealTypeMenu">
            Meal Type
          </button>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="#">Cuisine</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="#">Dietary Preferences</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="#">Preparation Time</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="#">Ingredient</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="#">Price Range</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="#">Rating</a>
        </mat-list-item>
      </mat-nav-list>

      <mat-menu #mealTypeMenu="matMenu">
        <button mat-menu-item>Option 1</button>
        <button mat-menu-item>Option 2</button>
        <button mat-menu-item>Option 3</button>
      </mat-menu>
    </div>
  </aside>

  <div class="page-container">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" onsubmit="return false;" method="GET">
              <input
                class="au-input au-input-xl"
                type="text"
                name="search"
                placeholder="Search for dishes ..."
              />
              <button class="au-btn-submit" type="submit">Search</button>
            </form>
            <div class="web-name">EAT WELL</div>
            <div class="cart-area d-n">
              <a href="shopping-detail.html">
                <div class="total">9.99 <span> 1</span></div>
                <i class="fa fa-shopping-cart fa-shake" aria-hidden="true"></i>
                <i class="fa fa-duotone fa-user fa-bounce"></i>
              </a>
            </div>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <div class="row">
      <app-product-list></app-product-list>
    </div>
  </div>
</div>
