<div class="page-wrapper">
  <div class="sidenav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="page-container content">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" onsubmit="return false;" method="GET">
              <input
                class="au-input au-input-xl"
                type="text"
                name="search"
                placeholder="Search for dishes ..."
              />
              <button class="au-btn-submit" type="submit">Search</button>
            </form>
            <div>
              <a [routerLink]="['/products']"
                ><div class="web-name">EAT WELL</div></a
              >
            </div>
            <div class="cart-area d-n">
              <a href="shopping-detail.html">
                <div class="total">9.99 <span> 1</span></div>
                <i class="fa fa-shopping-cart fa-shake" aria-hidden="true"></i>
                <i class="fa fa-duotone fa-user fa-bounce"></i>
              </a>
            </div>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <div class="row">
      <router-outlet></router-outlet>
      <!-- <app-product-list></app-product-list> -->
    </div>
  </div>
</div>
