<div class="page-wrapper">
  <div class="sidenav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="page-container content">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>
            <div>
              <a [routerLink]="['/products']"
                ><div class="web-name">EAT WELL</div></a
              >
            </div>
            <app-cart-status></app-cart-status>
            <app-auth-button></app-auth-button>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <div class="row">
      <router-outlet></router-outlet>
      <!-- <app-product-list></app-product-list> -->
    </div>
  </div>
</div>
