<mat-card *ngFor="let tempProduct of filteredProducts" class="product-card">
  <img
    mat-card-image
    [src]="tempProduct.imageUrl"
    alt="{{ tempProduct.name }}"
  />

  <mat-card-content>
    <h3>{{ tempProduct.name }}</h3>
    <p>{{ tempProduct.unitPrice | currency : "GBP" }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" (click)="addToCart(tempProduct.id)">
      Add to Cart
    </button>
    <button
      mat-button
      color="accent"
      [routerLink]="['/products/', tempProduct.id]"
    >
      View Details
    </button>
  </mat-card-actions>
</mat-card>

<div
  *ngIf="filteredProducts?.length == 0"
  class="alert alert-warning col-md-12"
  role="alert"
>
  <h2 class="text">No Product Found.</h2>
  <div class="button">
    <h2>
      <a class="link" href="http://localhost:4200/products">Go to Home Page</a>
    </h2>
  </div>
</div>
